# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.DS_Store

# Directories
data/
outputs/
notebooks/
catboost_info/

# File Extensions
*.csv
*.pickle
*.pyc

# Environment Variables
.env

# Installer logs
pip-log.txt